body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #cd5f59;
}

.timer {
    background-color: #f3bda5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px; /* 添加底部外邊距 */
}


h1 {
    color: #333;
}

.display {
    font-size: 36px;
    margin: 20px 0;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #99c6f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-between; /* 讓子元素之間平均分配空間 */
    align-items: center;
    min-height: 100vh;
    
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#customMinutes {
    -moz-appearance: textfield;
    height: 30px; 
    font-size: 16px;
}
#customMinutes::-webkit-outer-spin-button,
#customMinutes::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.todoPanel{
    background-color: #9e6229;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* 使用 Flex 布局 */
    flex-direction: column; /* 垂直排列 */
    align-items: center; /* 水平居中對齊 */
    max-width: 500px; /* 設定最大寬度，根據需要調整 */
    margin: 0 auto; /* 水平居中 */
    padding: 20px;
    text-align: center;
}

.todoBox {
    background-color: #fdc2c2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* 增加垂直間距 */
    width: 80%;
    text-align: center;
}

.recordPanel {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.recordBox {
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #fdc2c2;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.box h3 {
    font-size: 16px;
    margin: 0;
}

.box p {
    font-size: 14px;
    margin: 0;
}

.tag{
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    
}
