body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ce6858;
}

.timer {
    background-color: #f3bd9b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px; /* �K�[�����~��Z */
}


h1 {
    color: #333;
}

.display {
    font-size: 36px;
    margin: 20px 0;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #99c6f6;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-between; /* ���l���������������t�Ŷ� */
    align-items: center;
    min-height: 100vh;
    
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#customMinutes {
    -moz-appearance: textfield;
    height: 30px; 
    font-size: 16px;
}
#customMinutes::-webkit-outer-spin-button,
#customMinutes::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
.todoPanel{
    background-color: #513e27;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex; /* �ϥ� Flex ���� */
    flex-direction: column; /* �����ƦC */
    align-items: center; /* �����~����� */
    max-width: 500px; /* �]�w�̤j�e�סA�ھڻݭn�վ� */
    margin: 0 auto; /* �����~�� */
    padding: 20px;
    text-align: center;
}

.todoBox {
    background-color: #f3bd9b;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* �W�[�������Z */
    width: 80%;
    text-align: center;
}
/* 維尼:顯示defaule/ selectd/ done差異而做的style */
.todoBoxSelected {
    background-color: #ffe3d2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* �W�[�������Z */
    width: 80%;
    text-align: center;
}

.todoBoxDone {
    background-color: #7b665b;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0; /* �W�[�������Z */
    width: 80%;
    text-align: center;
}

.recordPanel {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.recordBox {
    display: inline-block;
    width: 25%;
    padding: 10px;
    margin: 10px;
    background-color: #f3bd9b;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.box h3 {
    font-size: 16px;
    margin: 0;
}

.box p {
    font-size: 14px;
    margin: 0;
}

.tag{
    
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 100px;
    margin: 0 auto;
    text-align: center;
    
}
